<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Admin Login</h1>
        <div id="message" class="message">
            <% if (message && message.text) { %>
                <div class="<%= message.type %>"><%= message.text %></div>
            <% } %>
        </div>
        <form action="/admin/login" method="POST">
            <input type="text" name="name" placeholder="Admin Name" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <a href="/" class="btn-go-back">Go Back to Home</a>
        <footer class="footer">
            <p>&copy; 2024 WhiteMatrix by Sreejith Sali</p>
        </footer>
    </div>
</body>
</html>
